<div class="container-fluid details">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="text-center">
        <img class="card-img-top" style="height: 20rem;" src="{{ selectedMovie.image }}" alt="Card image cap">
        <br>
        <button type="button" (click)="buyClick(stepper)" class="btn btn-secondary">Buy Ticket</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <div class="">
        <h1>{{ selectedMovie.title }}</h1>
        <h5>M{{ selectedMovie.minimumAge }}</h5>
        <hr>
        <p><b>Duration: </b>{{ selectedMovie.duration }}</p>
        <p><b>Release Date: </b>{{ formatDate }}</p>
        <p><b>Director: </b>{{ selectedMovie.director }}</p>
        <p><b>Cast: </b>{{ selectedMovie.cast}}</p>
        <hr>
        <p><b>Synopsis: </b> {{ selectedMovie.synopsis }}
        </p>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{'display': style}">
  <hr>
  <mat-horizontal-stepper #stepper >
    <mat-step  editable="false">
      <ng-template matStepLabel><b>Movie</b></ng-template>       
        <label for="movie">{{ selectedMovie.title }}</label>        
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><b>Session</b></ng-template>
      <form>
        
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><b>Tickets</b></ng-template>
      <form>
        
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><b>Resume</b></ng-template>
      <form>
        
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><b>Purchase</b></ng-template>
      <form>
        
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>