<div class="container-fluid details">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="">
        <img class="card-img-top" style="height: 20rem;" src="https://m.media-amazon.com/images/M/MV5BZDczYzNhMDMtNmQ2Ni00ZjcwLWI1MDQtMWI1YWVkNjkzN2NhXkEyXkFqcGdeQXVyNDMzMzI5MjM@._V1_SY1000_CR0,0,648,1000_AL_.jpg"
          alt="Card image cap">         
      </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <div class="">
        <h1>Kin</h1>
        <p>M12</p>
        <hr>
        <p><b>Duration: </b>123 min.</p>
        <p><b>Release Date: </b>25-12-2018</p>
        <p><b>Director: </b>André Machado</p>
        <p><b>Cast: </b>Nuno Pêgo, Soraya Santos</p>
        <hr>
        <p><b>Synopsis: </b>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising
          pain was
          born and I will give you a complete account of the system, and expound the actual teachings of the great
          explorer
          of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
          because
          it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
          that
          are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
          because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some
          great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to
          obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure
          that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        </p>
      </div>
    </div>    
  </div>    
</div>



