<div class="container-fluid details">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="text-center">
        <img class="card-img-top" style="height: 20rem;" src="{{ selectedMovie.image }}" alt="Card image cap">
        <br>
          <button type="button" [ngStyle]="{'display': block}" (click)="buyClick(stepper)" class="btn btn-secondary">Buy Ticket</button>
      </div>    
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <div class="">
        <h1>{{ selectedMovie.title }}</h1>
        <h5>M{{ selectedMovie.minimumAge }}</h5>
        <hr>
        <p><b>Duration (min.): </b>{{ selectedMovie.duration }}</p>
        <p><b>Release Date: </b>{{ formatDate }}</p>
        <p><b>Director: </b>{{ selectedMovie.director }}</p>
        <p><b>Cast: </b>{{ selectedMovie.cast}}</p>
        <hr>
        <p><b>Synopsis: </b> {{ selectedMovie.synopsis }}
        </p>
      </div>
    </div>
  </div>
</div>

<div id="steps" [ngStyle]="{'display': style}">
  <hr>
  <mat-horizontal-stepper #stepper>
    <mat-step editable="false">
      <ng-template matStepLabel ><b>Movie</b></ng-template>
      <label for="movie">{{ selectedMovie.title }}</label>
    </mat-step>
    <mat-step [editable]="editable">
      <ng-template class="text-center" matStepLabel><b>Cinema</b></ng-template>
      <div id="cinemaPara" class="text-center"> <p> Please select your cinema </p> </div>  
      <div class="text-center">
      <mat-select name="cinemas" id="cinemas" [(ngModel)]="cinemas" placeholder="Select Cinema">
        <mat-option *ngFor="let cinema of cinemas | async" (click)="clickedCinema(cinema.name,cinema.id)">
          {{ cinema.name }}
        </mat-option>
      </mat-select>
    </div>   
    </mat-step>
    <mat-step [editable]="editable">
      <ng-template matStepLabel><b>Session</b></ng-template>
      <div id="schedulesPara" class="text-center"> <p> Please select the schedule that best suits you </p> </div>  
      <div class="table-responsive">
        <table class="table" [ngClass]='theme'>
          <thead>
          </thead>
          <tbody>
            <tr *ngFor="let exibitionDay of exibitionDays | async">
              <td>
                {{exibitionDay.dayOfWeek}}, {{exibitionDay.day}}
              </td>
              <td *ngFor="let room of rooms | async ">
                Room {{room.id}}
              </td>
              <td>
                <p id="pSchedule" *ngFor="let schedule of schedules | async | scheduleDay:exibitionDay" (click)="clickSession(schedule.id,exibitionDay.dayOfWeek,exibitionDay.day,schedule.sessionBegin)">
                  {{ dataForSelect(schedule.sessionBegin) }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-step>
    <mat-step [editable]="editable">
      <ng-template matStepLabel><b>Ticket</b></ng-template>
      <div><p id="ticketsPara" class="text-center">Please choose the tickets</p></div>
      <div id="ticketPadd" class="container-fluid text-center">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-3 text-center">
                <div id="availableSeats"> Available Seats: {{availableSeats}} </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-5 text-center">
                <div id="selectTicket"> Tickets Selected: {{add}} </div> 
            </div>
            <div id="btnCenter" class="col-sm-4 col-md-4 col-lg-4" >
                <button id="ticketBtn" [ngStyle]="{'display': nextBtn}" class="btn btn-secondary" (click)="clickNext()">Next</button>
                <p id="seatsAlert" [ngStyle]="{'display': alertQtd}">Number of tickets is above the available seats</p>                   
            </div>           
          </div>
      </div>
      <div class="table-responsive">        
        <table class="table" [ngClass]='theme'>
          <thead  class="text-center">
            <tr>
              <th *ngFor="let col of header">
                {{col}}
              </th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let row of typeOfTickets | async">
              <td class="text-left">
                {{row.typeOfTicket}}
              </td>
              <td>
                {{row.priceOfTicket}} $
              </td>
              <td>
                <mat-select name="quantity" id="quantity" placeholder="Select Quantity">
                  <mat-option value="0" (click)=" clickQuantity(0,row.id)">
                    Select Quantity
                  </mat-option>
                  <mat-option *ngFor="let quantity of quantities" value="{{selectedQuantity}}" (click)=" clickQuantity(quantity,row.id,row.priceOfTicket)">
                    {{quantity}}
                  </mat-option>
                </mat-select>
              </td>
            </tr>
          </tbody>
        </table>       
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><b>Reserve Seat</b></ng-template>
      <div><p id="roomsPara" class="text-center">Please choose a room and reserve your seat</p></div>
      <div id="roomPadd" class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-2 text-center">
                <div [ngStyle]="{'display': roomInfo}" id="availableSeats">Seats to Choose: {{add}}</div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-6 text-center">               
            </div>
            <div class="col-sm-5 col-md-5 col-lg-4 text-rigth">
                <button id="strucBtn" [ngStyle]="{'display': seatsBtn}" class="btn btn-secondary" (click)="clickforLast()">Next</button>
            </div>           
          </div>
      </div>      
      <div class="text-center">
      <mat-select [disabled]="rommDisplay" name="rooms" id="rooms" placeholder="Select room">
        <mat-option *ngFor="let room of rooms | async" value="{{selectedRoom}}" (click)="clickRoom(room.id)">
          Room {{room.id}}
        </mat-option>
      </mat-select>
      </div>
      <div [ngStyle]="{'display': roomInfo}" id="ecra"  class="text-center"></div>
      <div id="roomStructure" class="text-center">
      <table id="structure" class="table" [ngClass]='theme'>
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let queue of rooms | async | structurePipe:roomId:1; let i = index">
            <td id="colStructure" *ngFor="let seats of rooms | async | structurePipe:roomId:2; let j = index">
              <i *ngIf="getStructure(i,j)=='free'" class="material-icons" (click)="reserveSeat(i,j)">event_seat</i>
              <i *ngIf="getStructure(i,j)=='occupied'" class="material-icons">account_box</i>
              <i *ngIf="getStructure(i,j)=='reserved'" class="material-icons" (click)="unreserveSeat(i,j)">check_circle</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </mat-step>
    <mat-step> 
      <ng-template matStepLabel><b>Purchase</b></ng-template>
      <!-- Email Form -->
    <form #formContact="ngForm" (ngSubmit)="postInformation(email.name,email.email)" >
        <div class="d-flex flex-row" >
          <!-- Name Field -->
          <div class="form-group" [class.is-invalid]="name.touched && name.invalid" [class.is-valid]="name.valid">
            <div class="icon">
              <i class="fas fa-user-tie"></i>
              <input id="name" name="name" [(ngModel)]="email.name" type="text" class="form-control"
                placeholder="Name" required minlength="3" pattern="[a-zA-Z ]*" #name="ngModel">
            </div>
            <span class="form-text" *ngIf="name.touched && name?.errors?.required">
              Name is required
            </span>
            <span class="form-text" *ngIf="name.touched && name?.errors?.pattern">
              Only text is available
            </span>
            <span class="form-text" *ngIf="name.touched && !name?.errors?.pattern && name?.errors?.minlength">
              Name required three caractheres minimum
            </span>
          </div>
          <!-- Email Field -->
          <div class="form-group" [class.is-invalid]="email.touched && email.invalid" [class.is-valid]="email.valid">
            <div class="icon">
              <input id="email" name="email" type="text" [(ngModel)]="email.email" type="text" class="form-control"
                placeholder="Email" required email #reply_to="ngModel">
            </div>
            <span class="form-text" *ngIf="email.touched && email?.errors?.required">
              Email is required
            </span>
            <span class="form-text" *ngIf="email.touched && email?.errors?.email">
              Email is invalid
            </span>
          </div>
        </div>
        <!-- Submit Action -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary btnSubmit" [disabled]="formContact.invalid">{{(formContact.invalid)?
            'Please fill information' : 'Send'}}</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>

</div>
