<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Cinema Managment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent" aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBarContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/detailspremiere" routerLinkActive="active">Details Premiere</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/detailsposter" routerLinkActive="active">Details Poster</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>
